azure-common
azure-core
azure-functions
azure-identity
azure-mgmt-core
azure-mgmt-network
certifi
cffi
charset-normalizer
cryptography
idna
isodate
msal
msal-extensions
msrest
oauthlib
portalocker
pycparser
PyJWT
requests
requests-oauthlib
six
typing_extensions
urllib3
